:root {
  --serif: 'Lora', serif;
  --sans: "Lato", sans-serif;
  --body-color: white;
}

body {
  background-color: var(--body);
}

#root {
  padding: 0;
  font-family: var(--sans);
  /* max-width: 80vw; */
  margin: 0px auto;
}

.dark-theme {
  background-color: rgb(19, 19, 19);
  color: rgb(223, 223, 223);
}

nav {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  max-width: 80vw;
  margin: 0px auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(40px);
}

/* Navbar items */
.navigation > p {
  padding-right: 50px;
  font-size: 16px;
  font-family: var(--sans);
  cursor: pointer;
  width: 120px;
}

.current-page {
  color: rgb(228, 182, 64);
}

main {
  padding: 0px 30px 30px 30px;
  max-width: 80vw;
  margin: 0px auto;
  min-height: 75vh;
}

h1 {
  font-size: 70px !important;
  font-family: var(--sans);
  font-weight: 700 !important;
  padding-bottom: 30px;
}

#contact-page h1 {
  padding-bottom: 5px;
}

.bio p {
  font-family: var(--sans);
  line-height: 1.4;
}

.pic {
  max-width: 85vw;
}

#logo {
  /* text-transform: uppercase; */
  font-size: 25px !important;
}

h2 {
  font-family: var(--serif);
  font-size: 20px !important;
  padding-bottom: 10px;
}

#contact-page h2 {
  padding-bottom: 20px;
}

.contact-form {
  font-family: var(--sans);
  display: flex;
  flex-direction: column;
}

input,
textarea,
button {
  width: 80vw;
  padding: 6px;
  margin: 10px 0px !important;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 3px;
}

textarea {
  height: 150px;
}

.resume-div {
  padding-bottom: 30px;
}

#resume-page h2 {
  display: inline;
}

button {
  border: none;
  background-color: rgb(116, 130, 145);
  color: white;
  padding: 7px;
  border-radius: 3px !important;
}

#theme-btn {
  width: 100px;
  height: 35px;
  justify-self: end;
  position: absolute;
  right: 14vw;
  bottom: 15px;
}

footer {
  justify-content: center;
  padding: 60px 0px 30px;
  text-align: center;
  position: relative;
}

.social-link-icons {
  display: inline;
  
}

.icon {
  margin: 0px 30px;
  font-size: 25px;
  color: rgb(179, 179, 179);
  color: rgb(179, 188, 197);
}

.form-alert {
  color: red;
  padding: 5px 0px;
  margin-bottom: 0px;
}

#download-btn {
  width: auto;
  font-size: 30px;
  color: rgb(38, 38, 38);
  margin: 10px;
}

.portfolio-container {
  margin: 0px;
  padding: 0px;
}

.portfolio-row {
  display: flex;
  justify-content: center;
}

.project-div {
  position: relative;
  margin: 20px 30px;
  width: 330px;
  height: 194px;
}

.portfolio-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}

.project-description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(249, 249, 249);
  color: rgb(40, 40, 40);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(1.1);
  transition: opacity .2s, transform .2s
}

.project-div:hover .project-description, 
.project-div:focus .project-description {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.project-description h3 {
  font-size: 25px;
  font-weight: bold;
}

.project-icon {
  color: black;
  margin-left: 5px;
}

.project-icon:hover {
  color: gray;
}

@media screen and (min-width: 896px) {
  main {
    padding: 30px 60px;
  }

  h1 {
    padding-bottom: 60px;
  }

  h2 {
    width: 50ch;
  }

  .about-section {
    display: flex;
    /* align-items: center; */
  }

  .bio {
    text-align: end;
    padding-right: 20px;
  }

  .pic {
    width: 350px;
    height: auto;
  }

  input,
  textarea,
  button {
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    flex-direction: row;
    transform: none;
  }
}
