:root {
  --serif: "Noto Serif Display", serif;
  --sans: 'Lato', sans-serif;
}

#root {
  padding: 0px;
  font-family: var(--sans);
  max-width: 70rem;
  margin: 0px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  max-width: 100vw;
  overflow: hidden;
}

.navigation {
  display: flex;
  flex-direction: column;
}

/* Navbar items */
.navigation > li {
  padding: 0px 30px;
  font-size: 16px;
  font-family: var(--sans);
  cursor: pointer;
}

.current-page {
  color: rgb(228, 182, 64);
}

main {
  padding: 0px 30px 30px 30px;
}

h1 {
  font-size: 70px !important;
  font-family: var(--sans);
  font-weight: 700 !important;
  padding-bottom: 30px;
}

#contact-page h1 {
  padding-bottom: 5px;
}

.bio p {
  font-family: var(--sans);
  line-height: 1.4;
}

.pic {
  max-width: 85vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px 30px;
}

.icon {
  margin: 0px 30px;
  font-size: 25px;
  color: rgb(179, 179, 179);
  color: rgb(179, 188, 197);
}

h2 {
  font-family: var(--serif);
  font-size: 20px !important;
  width: 50ch;
}

#contact-page h2 {
  padding-bottom: 20px;
}

.contact-form {
  font-family: var(--sans);
  display: flex;
  flex-direction: column;
}

input, textarea, button{
  width: 80vw;
  padding: 6px;
  margin: 10px 0px !important;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 3px;

}

textarea {
  height: 150px;
}

.resume-div {
  padding-bottom: 30px;
}

#resume-page h2 {
  display: inline;
}

button {
  border: none;
  background-color: rgb(116, 130, 145);
  color: white;
  padding: 7px;
  border-radius: 3px !important;
}

#download-btn {
  width: auto;
  font-size: 30px;
  color: rgb(38, 38, 38);
  margin: 10px;
}

.portfolio-container {
  justify-content: space-between;
  margin: 0px;
  padding: 0px;

}

.relative {
  position: relative;
}

.portfolio-pic {
  padding: 20px 30px;
  width: 360px;
  height: 210px;
  object-fit: cover;
  object-position: 0% 0%;
}

.project-description {
  padding: 20px 30px;
  width: 360px;
  height: 210px;
  padding: 20px;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 0%;
}

.project-description:hover {
  display: block;
}

@media screen and (min-width: 500px) {
  .navigation {
    flex-direction: row;
  }
}

@media screen and (min-width: 896px) {
  main {
    padding: 30px 60px;
  }

  h1 {
    padding-bottom: 60px;
  }

  .about-section {
    display: flex;
    /* align-items: center; */
  }

  .bio {
    text-align: end;
    padding-right: 20px;
  }

  .pic {
    width: 350px;
    height: auto;
  }

  input, textarea, button{
    width: 500px;
  }

  #resume-page {
  }
}
