:root {
  --serif: "Noto Serif Display", serif;
  --sans: 'Lato', sans-serif;
}

#root {
  padding: 0px;
  font-family: var(--sans);
  max-width: 70rem;
  margin: 0px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  max-width: 100vw;
  overflow: hidden;
}

.navigation {
  display: flex;
  flex-direction: column;
}

/* Navbar items */
.navigation > p {
  padding: 0px 30px;
  font-size: 16px;
  font-family: var(--sans)
}

main {
  padding: 0px 30px 30px 30px;
}

h1 {
  font-size: 70px !important;
  font-family: var(--sans);
  font-weight: 700 !important;
  padding-bottom: 30px;
}

.bio p {
  font-family: var(--sans);
}

.pic {
  max-width: 85vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px 30px;
}

.icon {
  margin: 0px 30px;
  font-size: 25px;
  color: rgb(179, 179, 179);
  color: rgb(179, 188, 197);
}

h2 {
  font-family: var(--serif);
}

#contact-page h2 {
  padding-bottom: 20px;
}

.contact-form {
  font-family: var(--sans);
  display: flex;
  flex-direction: column;
}

input, textarea, button{
  width: 80vw;
  padding: 6px;
  margin: 10px 0px !important;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;

}

textarea {
  height: 200px;
}

.resume-div {
  padding-bottom: 30px;
}

#resume-page h2 {
  display: inline;
}

button {
  border: 1px solid rgb(169, 169, 169);
  background-color: rgb(116, 130, 145);
  color: white;
  padding: 7px;
  border-radius: 5px !important;
}

#download-btn {
  width: auto;
  font-size: 30px;
  color: rgb(38, 38, 38);
  margin: 10px;
}

@media screen and (min-width: 896px) {
  main {
    padding: 30px 60px;
  }

  .navigation {
    flex-direction: row;
  }

  h1 {
    padding-bottom: 60px;
  }

  .about-section {
    display: flex;
  }

  .bio {
    text-align: end;
    padding-right: 20px;
  }

  .pic {
    width: 350px;
    height: auto;
  }

  input, textarea, button{
    width: 700px;
  }

  #resume-page {
  }
}
